



		
		<div id="div_id">
			<center><h3 style="color:purple"> Welcome To Guest Book Page</h3></center>
			<hr>
			<div id="form_div_id">

				<form ng-controller="Login">
				 <div id="login_id">
				<label><b>Email:<b></label><br>
				<input type="email" ng-model="Login_Email" placeholder="Enter Your mail-id" style="width: 200px; height: 35px" ><br><br>
			</div>
			<div id="login_id">
				<label><b>Password:<b></label><br>
				<input type="password" ng-model="Login_Password" placeholder="Enter a Password " maxlength="20" style="width: 200px; height: 35px"><br>
			</div>	
			<div id="login_Button-id">
				<ul>
					<li>
						<input type="submit" value="submit" ng-click="loginRequest()" onClick="this.form.reset()" class ="btn btn-default" data-toggle="tooltip" title="Login to the system!"  >
						
				   </li>
				   <li>
					
					
				   </li>
				</ul>
									

				</div>   
				</form>
			</div>	
		</div>	

</div>

